p{
    background-color: chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.salamilid{
    background-color: crimson;
    font-size: small;
}

#iuek{
    background-color: darkblue;
}

a:hover{
    background-color:darksalmon;
}